На сайте была заполнена форма подачи заявки на обмен объекта
- - - - - - - - - - -
Данные пользователя:
ФИО: {{fio}}
Телефон: {{phone}}
- - - - - - - - - - -
Объект, интересующий посетителя
{{object_data_2}}
{{!empty}}
- - - - - - - - - - -
Страница объекта: http://{{domen}}/catalog/view/{{catalog_id}}
- - - - - - - - - - -
Объект на обмен:
{{object_data_1}}
{{!empty}}
- - - - - - - - - - -
{{date}}