На сайте была заполнена форма обратной связи
- - - - - - - - - - -
Данные пользователя:
ФИО: {{fio}}
Телефон: {{phone}}
Email: {{#email}}{{email}}{{/email}}{{^email}}-{{/email}}
Сообщение: {{message}}
- - - - - - - - - - -
{{date}}