На сайте была заполнена форма подачи заявки на покупку/продажу/обмен
- - - - - - - - - - -
Данные пользователя:
ФИО: {{fio}}
Телефон: {{phone}}
{{#offer_type}}Предложение: {{offer_type}}{{/offer_type}}
{{#object_type}}Объект: {{object_type}}{{/object_type}}
Информация об объекте: {{object_data}}
- - - - - - - - - - -
{{date}}