На сайте была заполнена форма подачи заявки на покупку объекта
- - - - - - - - - - -
Данные пользователя:
ФИО: {{fio}}
Телефон: {{phone}}
- - - - - - - - - - -
Объект, интересующий посетителя
{{object_data}}
{{!empty}}
- - - - - - - - - - -
Страница объекта: http://{{domen}}/catalog/view/{{catalog_id}}
Комментарий: {{#comment}}{{comment}}{{/comment}}{{^comment}}-{{/comment}}
- - - - - - - - - - -
{{date}}