На сайте была оформлена заявка на товар
- - - - - - - - - - -
Данные пользователя:
ФИО: {{fio}}
Email: {{email}}
Телефон: {{#phone}}{{phone}}{{/phone}}{{^phone}}-{{/phone}}
Товар: {{product}}
Комментарий к заказу: {{#message}}{{message}}{{/message}}{{^message}}-{{/message}}
- - - - - - - - - - -
{{date}}