Закончена рассылка #{{id}}
Начата: {{date_begin}}
Закончена: {{date_end}}
- - - - - - - - - - -
Статистика:
Всего подписчиков на момент создания: {{emails_count}}
Успешно отправлено писем: {{emails_send}}
Ошибки: {{emails_error}}
- - - - - - - - - - -
{{date}}