Здравствуйте.
Вы получили это письмо, потому что ваш электронный ящик подписан на рассылку сайта http://{{domen}}
- - - - - - - - - - -
{{body}}
{{!Новая строка}}
- - - - - - - - - - -
В случае, если вы не хотите получать рассылку - вы можете перейти по ссылке http://{{domen}}/subscribe/unsubscribe/{{verify_code}}, чтобы отписаться прямо сейчас.