Добрый день.
Ваш email был указан при подписке на рассылку сайта http://{{domen}}
Если это сделали вы, то для активации подписки пройдите, пожалуйста, по ссылке: http://{{domen}}/subscribe/verify/{{verify_code}}
Если вы не подписывались на рассылку – просто игнорируйте это письмо, и ваш ящик не будет использован при наших рассылках.
- - - - - - - - - - -
С уважением, Администрация сайта http://{{domen}}/
{{date}}