{{>header}}
<div class="mainGrid">
	<table class="wrapperMain">
	<tr>
		<td class="navTd">
			<div class="navigation">
			{{>left_menu}}
			</div>
		</td>
		<td class="wrapperGrid">
		{{>content}}
		</td>
	</tr>
	</table>
</div>
{{>footer}}
