<div class="b-order">
    <div class="b-order-hint">
        Подать заявку на покупку этого объекта:
    </div>
    <form name="reqbuy-form" id="reqbuy-form" method="POST" class="b-feedback">
        <div class="b-feedback-row">
            <input type="text" name="fio" id="fio" value="" placeholder="ФИО*">
        </div>
        <div class="b-feedback-row">
            <input type="text" name="phone" id="phone" value="" placeholder="Телефон*">
        </div>
        <div class="b-feedback-row">
            <textarea name="comment" id="comment" placeholder="Комментарий"></textarea>
        </div>
        <div class="b-feedback-agree">
            <label><input type="checkbox" name="agree_private" id="agree_private" class="e-nice-checkbox"> Я согласен на предоставление своих личных данных</label>
        </div>
        <div class="b-feedback-captcha">
            <div class="feedback-qaptcha qaptcha"></div>
        </div>
        <div class="b-feedback-submit">
            <input type="submit" name="reqbuy-submit" id="reqbuy-submit" value="Отправить запрос">
            <div class="b-success-feedback" id="process-reqbuy">Отправляется запрос...</div>
            <div class="b-success-feedback" id="success-reqbuy">
                <p>Запрос успешно отправлен</p>
            </div>
        </div>
        {{#product}}
        <input type="hidden" name="catalog_id" id="catalog_id" value="{{id}}">
        <input type="hidden" name="object_data" id="object_data" value="Тип: {{#grandparent}}{{name}}, {{/grandparent}}{{#parent}}{{name}}{{/parent}};Объект: {{name}};Цена: {{price}} руб.;Адрес: г.{{city}}{{#tract}}, {{tract}}{{/tract}}{{#street}}, ул.{{street}}{{/street}}{{#house}}, д.{{house}}{{/house}}{{#corps}}, корп.{{corps}}{{/corps}}">
        {{/product}}
    </form>
</div>