<div class="b-popup" id="exchange-popup">
    <div class="b-popup-title">Предложить вариант на обмен</div>
    <div class="b-popup-close"></div>
    <form name="exchange-form" id="exchange-form" method="POST" class="b-feedback">
        <div class="b-feedback-row">
            <input type="text" name="fio" id="fio" value="" placeholder="ФИО*">
        </div>
        <div class="b-feedback-row">
            <input type="text" name="phone" id="phone" value="" placeholder="Телефон*">
        </div>
        <div class="b-feedback-row">
            <textarea name="object_data_1" id="object_data_1" placeholder="Информация об объекте*"></textarea>
        </div>
        <div class="b-feedback-agree">
            <label><input type="checkbox" name="agree_private" id="agree_private" class="e-nice-checkbox"> Я согласен на предоставление своих личных данных</label>
        </div>
        <div class="b-feedback-captcha">
            <div class="feedback-qaptcha qaptcha"></div>
        </div>
        <div class="b-feedback-submit">
            <input type="submit" name="exchange-submit" id="exchange-submit" value="Отправить запрос">
            <div class="b-process-feedback" id="process-exchange">Отправляется запрос...</div>
            <div class="b-success-feedback" id="success-exchange">
                <p>Заявка успешно отправлена</p>
                <p>Форма закроется автоматически</p>
            </div>
        </div>
        {{#product}}
        <input type="hidden" name="catalog_id" id="catalog_id" value="{{id}}">
        <input type="hidden" name="object_data_2" id="object_data" value="Тип: {{#grandparent}}{{name}}, {{/grandparent}}{{#parent}}{{name}}{{/parent}};Объект: {{name}};Цена: {{price}} руб.;Адрес: г.{{city}}{{#tract}}, {{tract}}{{/tract}}{{#street}}, ул.{{street}}{{/street}}{{#house}}, д.{{house}}{{/house}}{{#corps}}, корп.{{corps}}{{/corps}}">
        {{/product}}
    </form>
</div>