{{#hot_business}}
<a href="/catalog/view/{{id}}" class="b-object-banner">
    <span class="b-object-banner-title">Готовый бизнес</span>
    <span class="b-object-banner-content">
        <img alt="" src="/{{cat_images_dir}}{{image}}" class="b-object-banner-content-back">
        <span class="b-object-banner-content-text">
            {{title}}<br>
            г.{{city}}
        </span>
    </span>
</a>
{{/hot_business}}