<h2><a href="#">О компании</a></h2>
<p>Сжатый воздух является один из главных промышленных энергоносителей, поэтому больше значение имеют инвестиции в данную область, расширяющие возможность эффективного его использования. Речь идет здесь о возможностях обеспечения соответствующего количества сжатого воздуха и его чистоты. Важно, чтобы воздух был очищен от примесей.</p>
<p>Атмосфера воздуха, всасываемые компрессором , содержит твердые частицы и влагу. Сам компрессор  также является источником загрязнений (масло, продукты трения). Следовательно, в оборудование поступает сжатый воздух, содержащий водяной пар, пыль, пары масла и небольшое количество агрессивных газов.</p>