<div class="b-advantages">
    <h2 class="b-advantages__title">Наши преимущества:</h2>
    <ul class="b-advantages__items">
        {{#benefits}}
        <li class="b-advantages__items__item">
            {{{content}}}
        </li>
        {{/benefits}}
    </ul>
</div>