<div class="b-mortgage">
    <div class="b-mortgage-title">Ипотечный калькулятор</div>
    <div class="b-mortgage-text">
        На нашем сайте вы можете произвести расчет ипотеки на интересующих Вас объектах в разных банках
    </div>
    <a href="#" class="b-mortgage-lnk">Рассчитать ипотеку</a>
</div>