{{#benefit}}
<div class="b-why-we">
    {{#image}}<img alt="{{title}}" class="b-why-we-cover" src="/{{benefits_dir}}{{image}}">{{/image}}
    <p class="b-why-we-text">
        <img alt="" src="/images/frontend/tmp/text2.jpg"><br>
        {{title}}
    </p>
</div>
<div class="b-text-block">
    <p>{{content}}</p>
</div>
{{/benefit}}