{{>front-promo}}
<div class="l-2col">
    <div class="l-2col-col1">                
        {{>front-business}}
        {{>front-banners}}
    </div>
    <div class="l-2col-col2">
        <div class="l-2col-2col">
            <div class="l-2col-2col-col1">
                {{>one-benefit}}
            </div>
            <div class="l-2col-2col-col2">
                <p>Здесь должны быть новости<br>
                (последние 3 штуки)</p>
            </div>
        </div>
        <div class="b-text-block">
            {{#index_page}}{{{content}}}{{/index_page}}
        </div>
    </div>
</div>