{{#news}}
    <a href="#news-{{id}}" class="zzz" data-cat-id="{{id}}"><span>{{title}}</span></a><br/>
    <p><span>Дата публикации</span>{{date_pub}}</p>
    <p><span>Анонс:</span> {{short_article}}</p>
    <p><span>Статья:</span>{{article}}</p>
    <p><span>Изображение:</span><img src="/images/news/news/{{img}}" alt="{{img}}"></p>
{{/news}}