<div class="spcGrid">
    <!-- Breadcrumds -->
    <div class="state">
        <h2>{{#cur_page}}{{name}}{{/cur_page}}</h2>
        Записи: <b>{{#root}}{{name}}{{/root}}</b>
        {{#lvl1}}
        &nbsp; / &nbsp; Записи: <b>{{#cur_page}}{{name}}{{/cur_page}}</b>
        &nbsp; / &nbsp; Записи: <b><все></b>
        {{/lvl1}}

        {{^lvl1}}{{^lvl2}}
        &nbsp; / &nbsp; Записи: <b><все></b>
        {{/lvl2}}{{/lvl1}}
    </div>
    <!-- /Breadcrumds -->


    <form id="openContentForm" name="openContentForm" method="post" action="">

        <div class="toolBar">
            <div class="toolBarContainer">
                <a href="/admin/content/add/{{#cur_page}}{{id}}{{/cur_page}}" title="создать новую запись" class="btMajor"><img src="{{image_path}}add.png" alt="[создать новую запись]"><span>Новый</span></a>
            </div>
            {{!Если находимся в категории первого уровня - есть возможность подняться выше к корневой ктегории}}
            {{#lvl1}}
            <div class="toolBarContainer">
                <a href="/admin/content/open/{{#parent}}{{id}}{{/parent}}" title="перейти на уровень выше" class="btNeutral"><img src="{{image_path}}up.png" alt="[перейти на уровень выше]" /><span>Наверх</span></a>
            </div>
            {{/lvl1}}
            <div class="toolBarContainer">
                <a href="#" title="применить новые значения порядка" class="btNeutral ord_content_submit"><img src="{{image_path}}reorder.png" alt="[применить новые значения порядка]"/><span>Применить порядок</span></a>
            </div>
            <div class="toolBarContainer count" style="float:right">
                <span class="btDumb">Записей: <b>{{children_count}}</b></span>
            </div>
        </div>

        <!-- Table Grid -->
        <table width="100%" cellpadding="0" cellspacing="1">
            <tr>
                <th class="actionCol">Действия</th>
                <th class="orderCol">#</th>
                <th style="text-align:left">Показывать на сайте</th>
                <th style="text-align:left">Название</th>
                <th style="text-align:left">Тип</th>
            </tr>
            {{#childrens_arr}}
            <tr{{#even}} class="odd"{{/even}}>
                <td class="actionCol" nowrap>
                    <div class="hyperlinkCont rel">
                        <a href="#" title="показать ссылку" class="hyperlinkControl" rel="{{id}}"><img src="{{image_path}}info.png" /></a>
                    </div>
                    <div class="rel">
                        <div rel="{{id}}" class="hyperlink abs">
                            {{^module}}<a href="http://{{domen}}/{{^is_index}}content/{{url}}{{/is_index}}" target="_blank" style="color:#fff;">http://{{domen}}/{{^is_index}}content/{{url}}{{/is_index}}</a>{{/module}}
                            {{#module}}<a href="http://{{domen}}/{{url}}" target="_blank" style="color:#fff;">http://{{domen}}/{{url}}</a>{{/module}}
                        </div>
                    </div>
                    {{^module}}{{^lvl1}}{{^is_index}}<a href="/admin/content/open/{{id}}" title="открыть: Записи"><img src="{{image_path}}open.png" alt="открыть"/></a>{{/is_index}}{{/lvl1}}{{/module}}
                    <a href="/admin/content/edit/{{id}}" title="изменить"><img src="{{image_path}}edit.png" alt="изменить"{{#module}}{{^lvl1}} style="margin:0 0 0 28px;"{{/lvl1}}{{/module}}{{#is_index}} style="margin:0 0 0 28px;"{{/is_index}}></a>
                    {{^module}}{{^is_index}}<a href="#" title="удалить" class="delete_content" rel="{{id}}"><img alt="удалить" src="{{image_path}}delete.png"></a>{{/is_index}}{{/module}}
                </td>
                <td class="orderCol">
                    <input type="text" name="ord[{{id}}]" id="ord_{{id}}" value="{{ord}}" class="ord_content" size="2">
                </td>
                <td>
                    {{#status}}<a href="#" title="Не отображать" class="status_content" rel="{{id}}"><input type="hidden" name="status[{{id}}]" value="0"><img src="{{image_path}}status_1.png" alt="on" title="Не отображать" /></a>{{/status}}
                    {{^status}}<a href="#" title="Отображать" class="status_content" rel="{{id}}"><input type="hidden" name="status[{{id}}]" value="1"><img src="{{image_path}}status_0.png" alt="off" title="Отображать" /></a>{{/status}}
                </td>
                <td>
                    {{name}}
                </td>
                <td>
                    {{#module}}
                    Модуль::{{module}}
                    {{/module}}
                    {{^module}}
                    Текстовая страница
                    {{/module}}
                </td>
            </tr>
            {{/childrens_arr}}
        </table>
        <!-- /Table Grid -->

        {{!Если нет дочерних категорий - выводим сообщение}}
        {{^children_count}}
        <div class="empty">[ нет записей ]</div>
        {{/children_count}}

        <div class="toolBar">
            <div class="toolBarContainer">
                <a href="/admin/content/add/{{#cur_page}}{{id}}{{/cur_page}}" title="создать новую запись" class="btMajor"><img src="{{image_path}}add.png" alt="[создать новую запись]"><span>Новый</span></a>
            </div>
            {{!Если находимся в категории первого уровня - есть возможность подняться выше к корневой ктегории}}
            {{#lvl1}}
            <div class="toolBarContainer">
                <a href="/admin/content/open/{{#parent}}{{id}}{{/parent}}" title="перейти на уровень выше" class="btNeutral"><img src="{{image_path}}up.png" alt="[перейти на уровень выше]" /><span>Наверх</span></a>
            </div>
            {{/lvl1}}
            <div class="toolBarContainer">
                <a href="#" title="применить новые значения порядка" class="btNeutral ord_content_submit"><img src="{{image_path}}reorder.png" alt="[применить новые значения порядка]"/><span>Применить порядок</span></a>
            </div>
            <div class="toolBarContainer count" style="float:right">
                <span class="btDumb">Записей: <b>{{children_count}}</b></span>
            </div>
        </div>

        <input type="hidden" name="work_id" id="work_id" value="0">
        <input type="hidden" name="action" id="action" value="0">
    </form>

</div>